body{ background-image: url(../img/bg1.jpg);}
a{ color:#19537D;text-decoration: none; line-height:16px;}
a:hover { text-decoration:underline;}
p{ line-height:160%;}

.HeadBox{ height: 50px; width: 100%;}

.MainBox .TopTitle{ width:1200px;height:auto;clear:both;margin-left:auto;margin-right:auto;overflow:hidden;}
.MainBox .MainItem{ width:1200px;clear:both;margin-left:auto;margin-right:auto;overflow:hidden;}
.MainBox .MainItem .CenterItem{ width:820px; clear:left; float:left;}
.MainBox .MainItem .CenterItem .LeftCard{width:400px; clear:left; float:left; }
.MainBox .MainItem .CenterItem .LeftCard .Card1{ width:160px; clear:left; float:left; height:auto; background-color:#F5F4EB; overflow:hidden; margin-left:15px; margin-right:15px;margin-bottom: 20px; line-height:200%;border:1px solid #C8C7BC;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.MainBox .MainItem .CenterItem .LeftCard .Card1 img{ margin-top: 20px;margin-left: 20px;width: 120px}
.MainBox .MainItem .CenterItem .LeftCard .Card1 h4{ margin-top:0; margin-bottom:10px;line-height: 200%; font-size: 20px;text-align:center}
.MainBox .MainItem .CenterItem .LeftCard .Card2{ width:160px; clear:right; float:right; height:auto; background-color:#F5F4EB; overflow:hidden; margin-left:15px; margin-right:15px;margin-bottom: 20px; line-height:200%;border:1px solid #C8C7BC;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.MainBox .MainItem .CenterItem .LeftCard .Card2 img{ margin-top: 20px;margin-left: 20px;width: 120px}
.MainBox .MainItem .CenterItem .LeftCard .Card2 h4{ margin-top:0; margin-bottom:10px;line-height: 200%; font-size: 20px;text-align:center}
.MainBox .MainItem .CenterItem .RightCard{width:400px; clear:right; float:right; }
.MainBox .MainItem .CenterItem .RightCard .Card3{ width:160px; clear:left; float:left; height:auto; background-color:#F5F4EB; overflow:hidden; margin-left:15px; margin-right:15px;margin-bottom: 20px; line-height:200%;border:1px solid #C8C7BC;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.MainBox .MainItem .CenterItem .RightCard .Card3 img{ margin-top: 20px;margin-left: 20px;width: 120px}
.MainBox .MainItem .CenterItem .RightCard .Card3 h4{ margin-top:0; margin-bottom:10px;line-height: 200%; font-size: 20px;text-align:center}
.MainBox .MainItem .CenterItem .RightCard .Card4{ width:160px; clear:right; float:right; height:auto; background-color:#F5F4EB; overflow:hidden; margin-left:15px; margin-right:15px;margin-bottom: 20px; line-height:200%;border:1px solid #C8C7BC;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.MainBox .MainItem .CenterItem .RightCard .Card4 img{ margin-top: 20px;margin-left: 20px;width: 120px}
.MainBox .MainItem .CenterItem .RightCard .Card4 h4{ margin-top:0; margin-bottom:10px;line-height: 200%; font-size: 20px;text-align:center}



.MainBox .MainItem .RightItem{ width:350px; clear:right; float:right;}
.MainBox .MainItem .RightItem .PoetryBoard{ width:348px; height:auto; float:left;background-color:#F5F4EB; overflow:hidden;margin-bottom: 20px; border:1px solid #C8C7BC;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.MainBox .MainItem .RightItem .PoetryBoard .HeadTitle{ height:25px; line-height:25px; clear:both; font-weight:bold; font-size:18px; margin-top:20px; margin-left:20px; overflow:hidden;}
.MainBox .MainItem .RightItem .PoetryBoard .HeadTitle .TitleLeft{ width:3px; height:21px; margin-top:1px; float:left; clear:left; background-color:#A2C241; margin-right:8px;}
.MainBox .MainItem .RightItem .PoetryBoard ol li a{ font-size:15px; line-height:30px; height:45px;}
.MainBox .MainItem .RightItem .FeeBox{ width:348px; clear:both;  float:left; background-color:#F5F4EB; height:auto; line-height:34px;border:1px solid #C8C7BC; -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.MainBox .MainItem .RightItem .FeeBox .HeadTitle{ height:25px; line-height:25px; clear:both; font-weight:bold; font-size:18px; margin-top:20px; margin-left:20px; overflow:hidden;}
.MainBox .MainItem .RightItem .FeeBox .HeadTitle .TitleLeft{ width:3px; height:21px; margin-top:1px; float:left; clear:left; background-color:#A2C241; margin-right:8px;}
.MainBox .MainItem .RightItem .FeeBox img{ float:left; margin:0; padding: 10px; width:330px;}

.FootBox{ clear:both; overflow:hidden; text-align:center; border-top:1px solid #C8C7BC; width:1200px; margin-left:auto; margin-right:auto; margin-top:20px; padding-top:10px; padding-bottom:10px; color:#676767;}
.FootBox a{ color:#676767;}